.perent{
    color: #fff;
}
body{
    background-color: #212121;
}
.day{
    color: #fff;
}
#input-pass{
    background-color:aqua;
    color: #fff;
    display: block;
}
ul{
    color: #fff;
    background-color:#f699f1;
    display: inline-block;
}