*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
}
nav{
    height: 35px;
    width: 100vw;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
}
#Home{
    height: 30px;
    background-color: #c0cbca;
    margin-right: 20px;
    text-align: center;
    width:50px ;
    border-radius: 3px;
    font-size: 20px;
}
#yt{
    height: 30px;
    background-color: #c0cbca;
    margin-right: 20px;
    text-align: center;
    width:180px ;
    border-radius: 3px;
    font-size: 20px;
}
h1{
    color: #fff;
    margin-left: 75px;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    border-radius: 5px;
    margin-left: 75px;
    margin-top: 20px;
}
.project-link{
    color: #000;
    background-color: #03e9f4;
    width: 40vw;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.project-link:hover{
    box-shadow: 0 0 0px #03e9f4,
        0 0 5px #03e9f4,
        0 0 15px #03e9f4,
        0 0 70px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:hover{
    box-shadow: 0 0 25px #494d4d,
    0 0 5px #494d4d,
    0 0 25px #494d4d,
    0 0 200px #494d4d;
-webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}