*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
body{
    background-color: grey;
}
nav{
    height: 35px;
    width: 100vw;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
}
#Home{
    height: 30px;
    background-color: #c0cbca;
    margin-right: 20px;
    text-align: center;
    width:50px ;
    border-radius: 3px;
    font-size: 20px;
}
#yt{
    height: 30px;
    background-color: #c0cbca;
    margin-right: 20px;
    text-align: center;
    width:180px ;
    border-radius: 3px;
    font-size: 20px;
}
a:hover{
    box-shadow: 0 0 25px #494d4d,
    0 0 5px #494d4d,
    0 0 25px #494d4d,
    0 0 200px #494d4d;
-webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}
p{
    margin-top: 40px;
    margin-left: 40px;
}
button{
    margin: 40px 0px 40px 200px;
    border:2px solid #000;
    border-radius: 5px;
}
h3{
    margin-left: 40px;
}
h1{
    margin-left: 40px;
}
input{
    border:2px solid #000;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.2);
    color: #fff;
    background-color: #212121;
}
#result{
    background-color: #000;
    color: #03e9f4;
    margin: 0px 0px 40px 200px;
    border-radius: 5px;
    border:1px solid #fff;
} 
#result:hover{
    box-shadow: 0 0 25px #494d4d,
    0 0 5px #494d4d,
    0 0 50px #494d4d,
    0 0 200px #494d4d;
-webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}