*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
}
nav{
    height: 35px;
    width: 100vw;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
}
#Home{
    height: 30px;
    background-color: #c0cbca;
    margin-right: 20px;
    text-align: center;
    width:50px ;
    border-radius: 3px;
    font-size: 20px;
}
#yt{
    height: 30px;
    background-color: #c0cbca;
    margin-right: 20px;
    text-align: center;
    width:180px ;
    border-radius: 3px;
    font-size: 20px;
}
a:hover{
    box-shadow: 0 0 25px #494d4d,
    0 0 5px #494d4d,
    0 0 25px #494d4d,
    0 0 200px #494d4d;
-webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}
h1{
    color: #fff;
    margin: 20px;
}
p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
#wrapper h1{
    background-color: #434343;
    border-radius: 10px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guessSubmit{
    margin-top: 15px;
    background-color: #212121;
    color: #03e9f4;
    height: 30px;
    width: 120px;
    border-radius: 2px;
    transition: 0.5s;
}
.guessSubmit:hover{box-shadow: 0 0 25px #494d4d,
                               0 0 5px #494d4d,
                               0 0 25px #494d4d,
                               0 0 200px #494d4d;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
    background-color: #03e9f4;
    color: #000;
    border-radius: 8px;
    border: 2px solid #000
}
.guesses{
    color: #fff;
}
#guess{
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}
.guessField{
    height: 20px;
    width: 200px;
    margin-bottom: 10px;
}
.guessField:hover{
    box-shadow: 0 0 25px #494d4d,
                               0 0 5px #494d4d,
                               0 0 25px #494d4d,
                               0 0 200px #494d4d;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
    color: #000;
    border-radius: 3px;
    border: 2px solid #000
}